Repository LudiceTeam/Ludice, changes with the labels that .github/labeler.yml gives for each.
All labels: frontend, backend, bot, docs, config, tests, payment, security, gameplay, refactor, ci

Create CONTRIBUTING.md
  CONTRIBUTING.md
Labels: docs, refactor

Update README.md
  README.md
Labels: docs, refactor

ZTest
  src/new.py
Labels: backend, refactor

Add newline and comment for game section in payment success handler
  src/routers/private_user.py
Labels: frontend, refactor

Add game options to keyboard and implement game command handlers
  src/keyboard/start.py
  src/routers/private_user.py
Labels: frontend, refactor

Test
  data/drotic.json
  src/new.py
Labels: backend, refactor

.
  data/drotic.json
  data/drotic.py
  src/new.py
Labels: backend, refactor

Start drotic game
  src/new.py
Labels: backend, refactor

Delete game endpoint
  src/new.py
Labels: backend, refactor

New endpoint write one try
  src/new.py
Labels: backend, refactor

Refactor game routing and add game commands for betting and playing
  src/app.py
  src/routers/private_user.py
Labels: frontend, bot, refactor

Test
  src/new.py
Labels: backend, refactor

Refactor game betting logic and improve input validation for bet amounts
  src/routers/private_user.py
Labels: frontend, refactor

Ip blocking
  data/times_sec.json
  src/new.py
Labels: backend, refactor

Coding the security fitch
  requirements.txt
  src/financne.py
  src/new.py
Labels: backend, refactor

Connected the security
  src/new.py
Labels: backend, refactor

Update requirements.txt
  requirements.txt
Labels: refactor

Pay && and refactor the architecture
  backend/backups/backup.py
  backend/financne.py
  backend/new.py
  backend/redis/main.go
  src/main.py
Labels: backend, refactor

Refactor: Reintroduce core bot functionality and authentication logic
  frontend/app.py
  frontend/auth/auth.py
  frontend/common/bot_cmds_list.py
  frontend/keyboard/start.py
  frontend/routers/README.md
  frontend/routers/private_user.py
  frontend/routers/routers.md
Labels: frontend, docs, refactor

chore: add initial docker-compose configuration
  docker-compose.yml
Labels: config, refactor

Code change helper
  backend/helper.py
  backend/new.py
Labels: backend, refactor

chore: add Dockerfile and requirements.txt for backend and frontend
  backend/Dockerfile
  backend/requirements.txt
  frontend/Dockerfile
  frontend/requirements.txt
Labels: frontend, backend, refactor

Refactor: update bet processing logic and prepare for API integration
  frontend/routers/private_user.py
Labels: frontend, refactor

feat: enhance bet processing feedback and improve code readability
  .DS_Store
  frontend/routers/private_user.py
Labels: frontend, refactor

Get last throw
  backend/new.py
Labels: backend, refactor

Admin panel
  backend/new.py
Labels: backend, refactor

feat: add comprehensive project documentation for CLAUDE.md
  CLAUDE.md
Labels: docs, refactor

.github/labeler.yml:

frontend:
  - changed-files:
      - any-glob-to-any-file: ['frontend/**', 'src/routers/**']

backend:
  - changed-files:
      - any-glob-to-any-file: ['backend/**', 'src/new.py', 'src/new/**']

bot:
  - changed-files:
      - any-glob-to-any-file: ['bot/**', 'src/app.py', 'src/app/**']

docs:
  - changed-files:
      - any-glob-to-any-file: ['**/*.md', 'docs/**']

config:
  - changed-files:
      - any-glob-to-any-file: ['.github/**', '**/*.yml', '**/*.yaml']

tests:
  - changed-files:
      - any-glob-to-any-file: ['tests/**', '**/*_test.py']

payment:
  - changed-files:
      - any-glob-to-any-file: ['payment/**', 'src/payment/**']

security:
  - changed-files:
      - any-glob-to-any-file: ['SECURITY.md', 'src/security/**', '.github/security/**']

gameplay:
  - changed-files:
      - any-glob-to-any-file: ['game/**', 'src/gameplay/**', 'src/game/**']

refactor:
  - changed-files:
      - any-glob-to-any-file: ['**']

ci:
  - changed-files:
      - any-glob-to-any-file: ['.github/workflows/**']
